:root{
   --azul:rgb(70, 144, 194);
   --branco:rgb(234, 235, 238);
}

*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}

@media screen and (min-width:1000px) {
   .descricao{
      width:50%;
   }
}

@media screen and (max-width:1000px) {
   .cards{
      width: 90%;
      
      margin-top: 50px;
      margin-bottom: 50px;
      
      text-align: center;
   }

   .card_text{
      width: 90%;
      font-size: 20px;
      margin: 25px;
      margin-top: 50px;

      text-align: center;
   }
}

@media screen and (max-width:700px) {
   .botao{
      margin-top:5px;
      margin-right:25px;
      width:200px;
      height:55px;
      display:block;
      flex-direction:column;
   }

   .menu{
      background-color:transparent;
      position:fixed;
      margin-left:-100%;
      transition:all .3s;
      margin-top: 50px;
   }
   
   label[for='bt_menu']{
      display:block;
      position:fixed;
      z-index: 9;
   }

   .logo{
      font-size: 25px;
      background-color:var(--azul);
      text-align: center;
      width: auto;
   }

   .menu>ul{
      margin-left:0;
      display:block;
      position:fixed;
   }

   .menu ul li{
      float:none;
   }

   .menu ul ul{
      position:static;
      overflow:hidden;
      max-height:0;
      transition:all .3s;
      display:flex;
      flex-direction: column;     
   }

   .menu ul li:hover ul{
      height:auto;
      max-height:200px;
      transition:all .3s;
   }

   #bt_menu:checked ~ .menu{
      margin-left:0;
   }
}